<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pavankalyan</title>
</head>
<body><center>
    <h1>This is the pavan kalyan function pages</h1>
    <h2 style="color:blue">Pawan Kalyan is an Indian actor, screenwriter, stunt coordinator, brother of Bhanu prakash.and kote kiran kumar philanthropist and
         politician. His film works are predominantly in Telugu cinema. He is the youngest brother of popular actor Chiranjeevi. Pawan Kalyan made
          his acting debut in the 1996 Telugu film Akkada Ammayi Ikkada Abbayi. His next four films were all box-office successes namely 
          Gokulamlo Seeta (1997), Suswagatham (1998), Tholi Prema (1998), and Thammudu (1999).[1] Kalyan's subsequent films Puri Jagannadh's
           Badri (2000) and S. J. Suryah's Kushi (2001) were box office successes.[2][3] He made his directorial debut with Johnny (2003), 
           which was a box office failure.[4] He followed this with a string of failures: Gudumba Shankar (2004),[5] Balu (2005),[6] Bangaram 
           (2006),[7] and Annavaram (2006).[8] After a gap, the film Jalsa directed by Trivikram Srinivas became a box office success.[9] He 
           collaboarated with Suryah again for Puli (2010), which was a box office debacle.[10] Teen Maar (2010) and Panjaa (2011) released 
           to mixed reviews.[11][12] The film Gabbar Singh (2012) released to positive reviews and was a blockbuster at the box office, marking 
           his comeback after three back to back failures.[13] Kalyan's second film with Puri Jadganaddh was Cameraman Gangatho Rambabu (2012),
            which released to above average reviews.[14] Trivikram Srinivas's Attarintiki Daredi (2013) was an industry hit and got him back to no.
             1, yet again.[15] His film Gopala Gopala (2015) with Venkatesh was a success while Sardaar Gabbar Singh,[16] Katamarayudu,[17] and
              Trivikram Srinivas's Agnyaathavaasi received negative reviews.[18][19] Vakeel Saab (2021), the masala-laced adaptation of the 
              courtroom drama Pink (2016), received positive reviews.[20]</h2>
    <h3><a href ="{% url 'app1:ramcharan' %}">go to ramcharan pages</a></h3>
    <h3><a href ="{% url 'app2:prabhas' %}">go to prabhas pages</a></h3>
    <h3><a href ="{% url 'app2:ntr' %}"></a>go to ntr pages</h3>
</center>
    
</body>
</html>