<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ramcharan</title>
</head>
<body>
    <center>
        <h1>This is the ramcharan Function pages</h1>
        <h2 style="color:pink">While Naatu Naatu's live performance was one of the highlights of Oscars 2023, fans surely missed Jr NTR and Ram Charan's performances.
             It is now learnt that the two stars were originally supposed to perform on the Oscar stage. But, the two backed out of the performance.

            Producer Raj Kapoor told The Academy that the two stars didn't feel comfortable in recreating the viral dance number on the stage. 
            He said, "Originally, the two leads were going to be the stars of the number alongside the singers Rahul Sipligunj and Kaala Bhairava.
             The show was very instrumental in helping secure working visas for their team to be able to come to the U.S. to be a part of the 
             performance."
            
            He further added, "In late February, we were informed that Ram Charan and N.T. Rama Rao Jr. would be attending the Oscars,
             but they did not feel comfortable performing the live number on stage. The change was brought on because of their other professional 
             commitments and the limited amount of time to rehearse. "</h2>
        <h3><a href="{% url 'app1:pavankalyan' %}">go to pavankalyan pages</a></h3>
        <h3><a href="{% url 'app2:prabhas' %}">go to prabhas pages</a></h3>
        <h3><a href="{% url 'app2:ntr' %}"> go to ntr pages</a></h3>
    </center>
    
</body>
</html>